@charset "utf-8";

/*============================
全般的なスタイル
============================*/
* {
  margin:0; padding:0;
}

body {
    width: 100%;
    background-color:#FFFFFF;
    background-image:none;
    font-size:100%;
    font-family:sans-serif;
    line-height:1.6;
    color:#333333;
}

div#pagebody {
    width:1000px; margin:0 auto;
    background-color:#ffffff;
    background-image:none;
    background-repeat:no-repeat;
}

/*============================
ヘッダ部
============================*/
div#header {
    height: 46px;
}

div#header h1 {
    padding: 0px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

div#header h1 a {
    text-decoration:none;
}
div#header h1 a {
    width:320px; height:46px;
}

img {
    border: 0;
}

/*============================
メインメニュー
============================*/

ul#menu {
    width:100%;
    margin:0px;
}

#menu li {
    list-style-type:none;
    display:inline;
    float:left;    /*リスト方向を横に並べる*/
}

#menu li a {
    background-color:#ffffff;
    color:#ffffff;
    display:block;
    width:90px; height:45px;
    padding:15px 0px 0px 60px;
    text-align:center;
    text-decoration:none;
    background-image:url(images/icon_menu.png);
    background-repeat:no-repeat;
    font-size:120%;
}

#menu li a:hover {
    background-color:#ffffff;
    background-image:url(images/icon_menu.png);
}


/*============================================
ヘッダ画像
============================================*/
#img_index {
	display:none;	/*トップページのヘッダ画像を非表示にする*/
}
#img_subpage {
	display:none;	/*トップページ以外のヘッダ画像を非表示にする*/
}

/*============================================
サブメニュー
============================================*/
h2 {
	width:100%; height:40px;		/*幅と高さ*/
	padding:15px 0px 0px 10px;		/*パディング*/
	font-size:16px;				/*フォントサイズ*/
	background-image:none;		/*背景画像を無しにする*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#000033;		/*背景色*/
	color:#ffffff;		/*文字色*/
	clear:both;		/*フロートをクリアする*/
}
div#submenu {
	width:100%;		/*幅の指定*/
	margin:0px;		/*マージン*/
	float:none;		/*フロートしない*/
}
div#submenu ul li {
	list-style-type:none;		/*リストマーカー無しにする*/
}
div#submenu ul li a {
	display:block;			/*リンク部分をブロック表示にする*/
	width:100%; height:40px;			/*幅と高さ*/
	padding:15px 0px 0px 10px;	/*パディング*/
	text-decoration:none;		/*リンクの下線を無くす*/
	border-bottom:1px dotted gray;		/*リンク領域の下部にボーダーを付ける*/
	background-image:none;	/*リンク領域に背景画像を無しにする*/
	background-repeat:no-repeat;	/*背景画像を繰り返さない*/
	background-color:#cccccc;	/*背景色*/
	color:#000000;		/*文字色*/
}
div#submenu ul li:first-child a {
	border-top:1px dotted gray;		/*一番上のリンクに上線を表示*/
}
div#submenu ul li a:hover	{
	text-decoration:underline;	/*リンクにマウスが乗ったら下線を表示*/
}
div#submenu ul li a:before {
	content: url("images/icon_submenu.png");	/*アイコン画像を挿入*/
	margin:0px 10px 0px 0px;	/*マージン*/
	vertical-align:text-top;	/*縦方向の表示位置*/
}

/*============================================
インフォメーション
============================================*/
div#info {
	width:100%;		/*幅の指定*/
	float:none;			/*フロートしない*/
	padding:0px;		/*パディング*/
}
h3 {
	font-size:14px;		/*文字サイズ*/
	width:100%;		/*幅の指定*/
	margin:10px 0px 0px 0px;	/*マージン*/
	padding:10px 0px 10px 10px;	/*パディング*/
	background-color:#003399;	/*背景色*/
	color:#ffffff;		/*文字色*/
	border-radius:0px;		/*角丸にしない*/
	-moz-border-radius:0px; -webkit-border-radius:0px; -o-border-radius:0px; -ms-border-radius:0px;		/*角丸にしない（ベンダープレフィックス付きの指定）*/
}
p {
	width:95%;		/*幅の指定*/
	margin:10px;		/*マージン*/
	text-indent:1em;	/*インデント幅*/
}
.infoimg_index {
	display:block;	/*ブロック表示にする*/
	width:300px; height:225px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
	float:none;				/*フロートしない*/
}
.infoimg_subpage {
	display:block;	/*ブロック表示にする*/
	width:300px; height:225px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
	float:none;				/*フロートしない*/
}
.infoimg_tel {
	display:block;		/*ブロック表示にする*/
	width:300px; height:60px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 0px;	/*マージン*/
}
hr {
	clear:both;			/*フロート配置をクリアする*/
	width:100%;		/*幅の指定*/
	margin:10px 0px;		/*マージン*/
	border:1px dotted #cccccc;	/*内容の区切りをグレーの点線表示にする*/
}

/*============================================
備考情報
============================================*/
div.remarks {
	margin:0px 0px 10px 10px;
}
h4 {
	color:#000066;
}

/*============================================
フッタ
============================================*/
div#footer {
	clear:both;					/*フロート配置をクリアする*/
	height:40px;				/*高さの指定*/
	padding:10px 0px 0px 0px;	/*パディング*/
	font-size:x-small;			/*フォントサイズを小さくする*/
	text-align:center;			/*センタリング*/
}
